body,html{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  height: 100%;
}

.container{
  background: linear-gradient(135deg,#8a2be2,#4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content{
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  padding:2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  max-width:400px;

}

.logo{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

h1{
  margin-bottom: 1rem;
  color: #333;
}

p{
  color:#666;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  
}


input[type="email"]{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4169e1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover{
  background-color: black;
}